body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

#holder{
    width:  100%;
    clear: both;
}
#holder > div{
    clear:  both;
    padding: 2%;
    margin-bottom:  20px;
    border-bottom:  1px solid #eee;
    float: left;
    width: 90%;
}
.tag{
    float: left;
    padding-right: 20px;
    font-family: " Arial, sans-serif";
    width: 200px;
}
label{
    display:  inline;
}

.regular_checkbox{
    display: none;
}

/*小的复选框*/
.regular_checkbox + label{
    background-color:  #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius:  3px;
    display: inline-block;
    position: relative;
}



.regular_checkbox + label:active, .regular_checkbox:checked + label:active{
    box-shadow:  0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}
.regular_checkbox:checked + label:after{
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 3px;
    color: #99a1a7;
}

/*大的复选框*/
.big_checkbox + label{
    padding: 18px;
}

.big_checkbox:checked + label:after{
    font-size: 28px;
    left: 6px;
}

.button_holder{
    float: left;
}
/*小的单选按钮*/
.regular_radio{
    display: none;
}
.regular_radio + label{
    -webkit-appearance: none;
    background-color: #fafafa;
    border:1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
}
.regular_radio:checked + label:after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50px;
    position: absolute;
    top: 3px;
    background-color: #99a1a7;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0;
    left: 3px;
    font-size: 32px;
}
.regular_radio:checked + label{
    background-color: #e9ecee;
    color: #99a1a7
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}
.regular_radio + label:active, .regular_radio:checked + label:active{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.big_radio + label{
    padding: 16px;
}
.big_radio:checked + label:after{
    width: 24px;
    height: 24px;
    left: 4px;
    top: 4px;
}

/* 动效check*/
[id^="check_3_1"]:checked + label:after{
    position: absolute;
    top: 90px;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    content: "\2715";
    color: #99a1a7;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding:1px 0 0;
    left: 0;
    top:0;
}
